body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
display: inline-block;
margin-left: 5px;
}

#LiftingUpState{
  border: 5px solid red;
}

#SimpleClassExample{
  border: 5px solid green;
}
#SimpleFunctionalExample{
  border: 5px solid blue;
}

#ConditionalRenderWithFunction{
  border: 5px solid blue;
}

.ConditionalRenderWithFunctionstyle{
  margin: 10px;
}